.container{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  padding:20px;
}
.main{
  width:100%;
  max-width:1200px;
  margin-top:18px;
}
